ion-content {
  --background: rgb(43, 59, 78);
}

ion-list {
  --background: rgb(43, 59, 78) !important;
}

ion-item {
  --background: rgb(43, 59, 78);
}

ion-label {
  color: var(--ion-color-light) !important;
}

ion-icon {
  color: var(--ion-color-light) !important;
}

ion-searchbar {
  color: rgb(43, 59, 78) !important;
  --background: var(--ion-color-light) !important;
}

ion-note {
  font-size: small;
  margin-right: 0px;
}

.list-ios {
  background: var(--ion-item-background, var(--ion-background-color, rgb(43, 59, 78)));
}

p {
  color: var(--ion-color-light) !important;
}