<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="goals/list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title$ | async}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onCreate()">
          <br>
          <ng-container *ngFor="let field of fields">
            <app-dynamic-form-field [field]="field" [form]="form" [submitAttempt]="submitAttempt">
            </app-dynamic-form-field>
          </ng-container>
          <ion-button class="submit-button" type="submit" [disabled]="!form.valid" expand="block">
            Create
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>