ion-content {
  --background: rgb(43, 59, 78);
}

ion-item {
  --background: rgb(43, 59, 78);
}

ion-label {
  color: var(--ion-color-light) !important;
}

p {
  color: var(--ion-color-light) !important;
}